@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-inter);
}

body {
  background: #ffffff;
  color: #171717;
}

.dark body {
  background: #0a0a0a;
  color: #e5e5e5;
}
